.popup__input-error {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}