.text_block_card {
    font-size: 16px;
    line-height: 22px;
    margin: 16px 0 0 0;
    font-weight: normal;
    text-align: left;
    overflow: scroll;
    text-overflow: ellipsis;
}

@media screen and (max-width: 470px) {
    .text_block_card {
        margin: 10px 0 0 0;
    }
}
