.card__tag {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 80px;
    top: 24px;
    left: 24px;
    background: #FFFFFF;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin: auto;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .card__tag{
        top: 8px;
        left: 8px;
    }
}

@media screen and (max-width: 470px) {
    .card__tag{
        top: 16px;
        left: 16px;
    }
}